html {
  scroll-behavior: smooth;
}

.cursor {
    display: inline-block;
    width: 3px;
    height: 28px;
    background: black;
    animation: blink 1s infinite;
    margin-left: 2px;
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}

.bg-react {
    background-color: #58c4dcd9;
}

.bg-pwa {
    background-color: #5a14c9;
}

.bg-bt {
    background-color: #712cf6;
}

.bg-redux {
    background-color: #593d88;
}

.text-electron {
    color: #9fe9fa;
}

.bg-electron {
    background-color: #1b1c27;
}

#hero {
    background-image: url('./assets//home-bg.jpg');
    background-size: cover;
}